.project {
  /* width: 100%; */
  margin: 10px 0px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
  transition: box-shadow 0.3s ease;
}

.project:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.project:hover {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.6);
}
