@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .project {
    /* width: 100%; */
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
    transition: box-shadow 0.3s ease;
  }

  .project:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .project:hover {
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.6);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
